.footer
  padding: 50px 0 20px 0
  background-image: url(http://www.cheapflightslab.com/wp-content/uploads/2016/09/fietsen-grachten-hotels-amsterdam.jpg)
  backgroun-repeat: no-repeat
  background-size: cover
.footer .title
  text-align: left
  color:#1474d6
  font-size:24px
.contact-form
  margin-top:15px
.contact-form .textarea
  min-height:120px
  font-size:15px
.contact-form
  margin-top:15px
.foo
  box-shadow:none
  border-color:#428bca
  height:30px
.foo:focus
  box-shadow:none
.foo-feedback
  line-height:50px
.foo-feedback
  line-height: 50px
  top: 0px
.Text
  color white
  font-size: small
.fa-facebook-square::before
  color #3b5998
  font-size: 40px
  margin: 5px
.fa-twitter-square::before
  color #18b0d2
  font-size: 40px
  margin: 5px
.fa-google-plus-square::before
  color #a23737
  font-size: 40px
  margin: 5px
.tamano-letra
  font-size: 18px
  color: white
.btn-primary:hover
  background-color: transparent
  color: #285e8e
  border-color: #285e8e
