<section class="container">
    <div class="row" >
      <div class="col-sm-6 social ">
        <h2 class="title"><strong>HOLANDA EL PARAISO CICLISTA</strong></h2>
        <p class="tamano-letra">
          <strong>Según estos datos,
          sólo en Amsterdam hay alrededor de 800.000 bicicletas
          y se estima que un 63% de sus habitantes usa este medio de transporte a diario.</strong>
        </p>
        <div class="icon text-center">
          <a href="https://www.facebook.com" class="social"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a href="https://twitter.com" class="social"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          <a href="https://accounts.google.com" class="social"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
        </div>
      </div>


      <div class="col-sm-6 social">
        <h4 class="title"><strong>CONTACTANOS</strong></h4>

         <form role="form" id="contact-form" class="contact-form">
            <div class="row">
             <div class="col-md-6">
               <div class="form-group">
                 <input type="text" class="form-control foo" name="Name" autocomplete="off" id="Name" placeholder="Nombre">
              </div>
            </div>
          <div class="col-md-6">
            <div class="form-group">
                <input type="email" class="form-control foo" name="email" autocomplete="off" id="email" placeholder="E-mail">
            </div>
          </div>
        </div>
            <div class="row">
              <div class="col-md-12">
               <div class="form-group">
                 <textarea class="form-control textarea foo" rows="3" name="Message" id="Message" placeholder="Comentario"></textarea>
              </div>
            </div>
          </div>

            <div class="row">
             <div class="col-md-12">
               <button type="button" class="btn btn-primary active"><strong>Enviar Mensaje</strong></button>
          </div>
        </div>
      </form>
    </div>
  </div>
    <hr>
  </section>
