.footer
  padding: 50px 0 20px 0
  background-image: url(https://euexpatriado.files.wordpress.com/2017/03/cropped-img_5542.jpg)
  backgroun-repeat: no-repeat
  background-size: cover
.footer .title-1
  text-align: left
  color white
  font-size:24px
.title-2
  text-align: left
  color white
  font-size:24px
.contact-form
  margin-top:15px
.contact-form .textarea
  min-height:120px
  font-size:15px
.contact-form
  margin-top:15px
.foo
  box-shadow:none
  border-color:#428bca
  height:30px
.foo:focus
  box-shadow:none
.foo-feedback
  line-height:50px
.foo-feedback
  line-height: 50px
  top: 0px
.Text
  color white
  font-size: small
.fa-facebook-square::before
  color blue
  font-size: 40px
  margin: 5px
.fa-twitter-square::before
  color ligthblue
  font-size: 40px
  margin: 5px
.fa-google-plus-square::before
  color red
  font-size: 40px
  margin: 5px
.tamano-letra
  font-size: 18px
  color: white
.btn-primary:hover
  background-color: transparent
  color: #285e8e
  border-color: #285e8e
