<!--header start here-->
<div class="header">
  <div class="container">
    <div class="Header-main">
      <div class="Logo">

        <div class="Titulo">
          <a href="#">
            <img class="Image" src="assets/images/logo.jpg" alt="" />
          </a>
          <h1><a class="Titulo-1" ui-sref="main">Paraiso Ciclista</a></h1>
        </div>

        <div class="Bann-tag">
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"> </span>
          <h4 class="Titulo-2">Holanda es el paraíso de los ciclistas y Amsterdam la capital mundial de las bicis</h4>
        </div>
      </div>

      <div class="Top-nav">
        <span class="Menu"> <img src="../assets/images/logo.jpg" class="img-responsive" alt=""/></span>
        <nav class="cl-effect-16">
          <!--a href=""><img src="assets/images/logo.jpg" alt=""></a-->
          <a ui-sref="main" class="active" data-hover="Home">Home</a>
          <a ui-sref="main" data-hover="About">About</a>
           <a ui-sref="parqueo" data-hover="Parqueo">Parqueo</a>
        </nav>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--header end here-->
