<!--header start here-->
<div class="header">
  <div class="container">
     <div class="Header-main">
        <div class="Logo">
          <h1><a ui-sref="main">Paraiso Ciclista</a></h1>
          <div class="Bann-tag">
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"> </span>
          <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</h4>
         </div>
        </div>
        <div class="Top-nav">
          <span class="menu"> <img src="images/icon.png" alt=""/></span>
          <nav class="cl-effect-16">
              <a href="" class="active" data-hover="Home">Home</a>
            <a href="" data-hover="About">About</a>
           </nav>
        </div>
        <div class="clearfix"> </div>
     </div>
   </div>
</div>

<!--header end here-->
<!--banner start here-->
<div class="Banner">
  <div class="Banner-main">
    <p>Lorem ipsum dolor consectetur adipiscing elit tempor.</p>
  </div>
</div>
<!--banner end here-->
<!--little start here-->
<div class="Little">
  <div class="container">
   <div class="Little-main">
    <div class="Little-top">
      <h3>Highest Quality Rides</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
    </div>
    <div class="col-md-6 Little-left">
      <h3>Little About Us</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
      <a href="single.html" class="hvr-pulse">Read More</a>
    </div>
    <div class="col-md-6 Little-right">
      <a href="single.html"><img src="http://www.feathers-ledbury.co.uk/uploads/PageImage/312.jpg" alt="" class="img-responsive"></a>
    </div>
    <div class="clearfix"> </div>
   </div>
  </div>
</div>
<!--little end here--> 